@model IEnumerable<CatalogoDireccionesApp.Models.Address>

<h1>Catálogo de Direcciones</h1>

@* FORMULARIO CON DEVEXTREME *@
<div id="form-container"></div> 

@* GRID CON DEVEXTREME *@
<div id="grid-container" class="mt-5"></div>

<script src="~/js/address/index.js"></script>